<h2><%= @user.nickname %>'s Account Balance </h2>
<%= link_to "収入登録", new_income_path %>
<%= link_to "支出登録", new_outgo_path %>

<table>
  <tr>
    <th>日付</th>
    <th>収入</th>
    <th>金額</th>
    <th>支出</th>
    <th>金額</th>
    <th>収支</th>
  </tr>

  <% @mixed_array.each do |data| %>
    <% if data.category_id == 1 || data.category_id == 2 %>
      <tr>
        <td><%= data.date %></td>
        <td><%= data.name %></td>
        <td>¥<%= data.price.to_s(:delimited) %></td>
        <td>-----------</td>
        <td>-----------</td>
        <% @total_income += data.price %>
        <td>¥<%= @total_income.to_s(:delimited) %></td>
      </tr>
    <% else %>
      <tr>
        <td><%= data.date %></td>
        <td>-----------</td>
        <td>-----------</td>
        <td><%= data.name %></td>
        <td>¥<%= data.price.to_s(:delimited) %></td>
        <% @total_income -= data.price %>
        <td>¥<%= @total_income.to_s(:delimited) %></td>
      </tr>
    <% end %>
  <% end %>


</table>
